[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

# This handles React Router's "page refresh" issue
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["mongoose", "bcryptjs", "jsonwebtoken", "resend"]